/* Custom 2.5 and 9.5 Bootstrap columns for bibliography */
@media (min-width: 576px) {
  .col-sm-2-5 {
    flex: 0 0 20.833333%;
    max-width: 20.833333%;
  }
  .col-sm-9-5 {
    flex: 0 0 79.166667%;
    max-width: 79.166667%;
  }
}
